version: "3.8"
services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bsapp
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"

  mongo:
    image: mongo
    ports:
      - "27017:27017"

volumes:
  mysql_data:
